:root {
  box-sizing: border-box;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  border-bottom: 1px solid lightskyblue;
  max-width: 15em;
  margin: 0.5em auto;
  padding: 0.25em;
}

button {
  background: ghostwhite;
  border: none;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 6px -3px black;
}
button:active {
  outline: 1px solid orange;
}
